a:hover{
    text-decoration: none;
      color: black
}
a{
  color: black
}
.text-x-large{
  font-size: x-large;
}
.text-xxx-large{
  font-size: xxx-large;
}
.cursor-pointer{
  cursor: pointer;
}
.questBox{
    border: 1px ghostwhite solid
}
 .questBox a{
     padding: 15px 50px;
  font-size: xxx-large;
  background-color: white;
  color:black;
}
 .questBox a{
     padding: 15px 50px;
  font-size: xxx-large;
  background-color: white;
  color:crimson;
}
.selected, .questBox a:hover {
    background-color:black !important;

color:crimson;
  transition: background-color 3s, color 3s, border 3s;
}
.closeComp{
  background-color: whitesmoke;
  border-left: 1px solid crimson;
}