<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Title -->
        <title>404 page not found</title>

        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Favicon -->
            <link rel="shortcut icon" href="../assets/TLM-ASSETS/Logos/TheLastMile/block.jpg">



        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="https://cdn.tlm.cloud/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
        <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">




      

        <!-- CSS Template -->
        <link rel="stylesheet" href="../assets/css/specific.css">


    </head>

    <body>
        <main class="g-min-height-100vh g-flex-centered g-pa-15">
            <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
                <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4">404
                </div>
        
                <div class="g-absolute-centered">
                    <h1 class="g-color-black g-mt-minus-8 mb-0">404&nbsp;Not&nbsp;Found</h1>
        
                    <hr class="g-brd-gray-light-v3 g-my-15">
        
                    <p class="g-font-size-18 mb-0"><a href="index.html"
                            class="g-color-black g-color-primary--hover g-text-no-underline--hover">← Home Page</a>
                    </p>
                </div>
            </div>
        </main>

    </body>

</html>