<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>The Last Mile - Contact</title>
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/TLM-ASSETS/Logos/TheLastMile/block.jpg">
    
    
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="https://cdn.tlm.cloud/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="../assets/vendor/hamburgers/hamburgers.min.css">
    
    <link rel="stylesheet" href="../assets/vendor/animate.css">
    
    
    <!-- Revolution Slider -->
    <link rel="stylesheet"
    href="../assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/settings.css">
    <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/layers.css">
    <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/navigation.css">
    
    <link rel="stylesheet" href="../assets/css/specific.css">
    
    
</head>

<body>
    <main>
        <!-- Header v1 -->
        <header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance"
        data-header-fix-moment="100" data-header-fix-effect="slide">
        <div class="u-header__section g-bg-white g-transition-0_3 g-py-30 g-py-30--md"
        data-header-fix-moment-exclude="g-bg-white"
        data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
        <nav class="navbar navbar-expand-lg p-0 g-px-15">
            <div class="container g-pos-rel">
                <!-- Logo -->
                
                <img class="u-header__logo-img u-header__logo-img--main g-width-130"
                src="../assets/TLM-ASSETS/Logos/The Last Mile w- Tagline/Tagline The Last Mile.png"
                alt="TheLastMile logo">
                
                <!-- End Logo -->
                
                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse w-100 align-items-center flex-sm-row"
                data-mobile-scroll-hide="true">
                <div class="navbar-collapse">
                    <ul
                    class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 ml-auto g-pt-20 g-pt-3--lg">
                    <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg ">
                        <a href="index.html" class="nav-link p-0">Home <span
                            class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                            <a href="info.html" class="nav-link p-0">Info</a>
                        </li>
                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                            <a href="port.html" class="nav-link p-0">Portfolio</a>
                        </li>
                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                            <a href="media.html" class="nav-link p-0">Media</a>
                        </li>
                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg active">
                            <a href="contact.html" class="nav-link p-0">Contact</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!-- End Navigation -->
            
            <!-- Responsive Toggle Button -->
            <button
            class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0"
            type="button" aria-label="Toggle navigation" aria-expanded="false"
            aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
            <span class="hamburger hamburger--slider">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </span>
        </button>
        <!-- End Responsive Toggle Button -->
    </div>
</nav>
</div>
</header>
<!-- End Header v1 -->


<!-- Section Content -->
<section id="testimonials" class="g-theme-bg-gray-light-v4">
    <div class="container text-center g-max-width-770 g-py-30 g-py-70--md">
        <div class="u-heading-v8-2 g-mb-40">
            <h2
            class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-secondary g-font-size-26 g-color-gray-dark-v2 g-mb-25">
            Want to join our team?</h2>
            <p class="mb-0">We are always looking for talent and to give second chances. We are an equal oppoturnity employer
                feel free to apply.
            </p>
        </div>
        
        <a class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0"
        href="mailto:blah@blah.com">Send your resume</a>
    </div>
    
    
</section>
<!-- End Testimonials Block -->


</div>
</div>
</section>
<!-- End Section Content -->

<!-- Footer -->
<footer class="text-center">
    <div class="g-py-30 g-py-80--md">
        <div class="container">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
                <h4 class="g-line-height-1 g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">Contact
                    us</h4>
                    <h2
                    class="u-heading-v2__title g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1">
                    Get in touch</h2>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <address class="row g-color-gray-dark-v4 mb-0">
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v1 px-0 g-py-60">
                    <i
                    class="icon-line icon-map d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Address</h3>
                    <strong class="g-font-size-16 g-color-white">1234 bolasd sdads</strong>
                </div>
                
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
                    <i
                    class="icon-line icon-screen-smartphone d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Phone number
                    </h3>
                    <strong class="g-font-size-16 g-color-white">+48 555 2566 112</strong>
                </div>
                
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v1 px-0 g-py-60">
                    <i
                    class="icon-line icon-envelope-letter d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Email</h3>
                    <a class="g-font-size-16 g-color-white"
                    href="mailto:blah@blah.com"><strong>blah@blah.com</strong></a>
                </div>
                
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
                    <i
                    class="icon-line icon-call-in d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Call free</h3>
                    <strong class="g-font-size-16 g-color-white">+48 555 1258 987</strong>
                </div>
            </address>
        </div>
        
        <div id="contact" class="g-color-gray-dark-v5 g-bg-gray-light-v5 g-py-30 g-py-70--md">
            <div class="container">
                <div class="u-heading-v8-2 g-mb-60">
                    <h2
                    class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-font-secondary g-color-gray-dark-v2 g-mb-25">
                    Have any questions?</h2>
                    <p class="mb-0">Feel free to ask us anything.</p>
                </div>
                
                <form>
                    <div class="row" id="contactform">
                        <div class="col-md-6 form-group g-mb-30">
                            <input id="inputGroup1_1"
                            class="form-control h-100 g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in"
                            type="text" placeholder="Your name">
                        </div>
                        
                        <div class="col-md-6 form-group g-mb-30">
                            <input id="inputGroup1_2"
                            class="form-control h-100 g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in"
                            type="tel" placeholder="Your phone">
                        </div>
                        
                        <div class="col-md-6 form-group g-mb-30">
                            <select id="inputGroup1_3"
                            class="js-custom-select form-control h-100 text-left u-form-control u-select-v1 g-font-size-default g-theme-color-gray-dark-v2 g-bg-white g-brd-white g-brd-gray-light-v3--hover g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in"
                            style="width: 100%;" data-placeholder="Department"
                            data-open-icon="fa fa-caret-down" data-close-icon="fa fa-caret-up">
                            <option></option>
                            <option value="Department1">Department1</option>
                            <option value="Department2">Department2</option>
                            <option value="Department3">Department3</option>
                            <option value="Department4">Department4</option>
                        </select>
                    </div>
                    
                    <div class="col-md-6 form-group g-mb-30">
                        <input id="emailinput"
                        class="form-control h-100 g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in"
                        type="text"  placeholder="Email">
                    </div>
                    
                    <div class="col-md-12 form-group g-mb-30">
                        <textarea id="inputGroup1_4"
                        class="form-control g-resize-none g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in"
                        rows="6" placeholder="Message"></textarea>
                    </div>
                </div>
                
                <div class="text-center">
                    <button
                    class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0 "
                    type="button" id="demoalert" role="button">Send message</button>
                </div>
            </form>
        </div>
    </div>
    
    
    
    <section class="g-bg-gray-dark-v1 g-color-white g-pa-40">
        <div class="container">
            <div class="row ">
                <div class="col-lg-7 align-self-center">
                    <h2 class="h4 text-white text-uppercase g-font-weight-300 g-mb-20 g-mb-0--lg">Subscribe to our weekly
                        
                        <strong class="g-color-primary">newsletter</strong></h2>
                    </div>
                    
                    <div class="col-lg-5 align-self-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span
                                class="input-group-text g-bg-transparent g-color-white g-brd-white rounded-0 g-brd-right-none"><i
                                class="fa fa-envelope"></i></span>
                            </div>
                            <input id="newletter"
                            class="form-control pl-0 u-form-control g-brd-left-none g-placeholder-white g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white rounded-0 g-mr-15"
                            type="text" placeholder="Enter your email...">
                            <div class="input-group-append">
                                <button id="subscribeemail" class="btn u-btn-primary rounded-0">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="g-color-white bg-dark g-py-40 g-px-15">
            <a class="d-inline-block g-mb-30" href="/">
                <img class="img-fluid g-width-130"
                src="../assets/TLM-ASSETS/Logos/TheLastMile/block.jpg"
                alt="TheLastMile">
            </a>
            <p class="g-color-white-opacity-0_7 g-mb-30">Paving The Road For Success</p>
            <ul class="list-inline d-inline-block g-mb-30">
                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                    href="#!"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                    href="#!"><i class="fa fa-pinterest"></i></a>
                </li>
                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                    href="#!"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                    href="#!"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
            <ul class="list-inline text-uppercase g-font-weight-700 g-font-size-11 mb-0">
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="index.html">Home</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="info.html">Info</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover"
                    href="port.html">Portfolio</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="media.html">Media</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover"
                    href="contact.html">Contact</a>
                </li>
                
            </ul>
        </div>
    </footer>
    <!-- End Footer -->
    
    <a class="js-go-to u-go-to-v1 pointy" href="#!" data-type="fixed" data-position='{
        "bottom": 15,
        "right": 15
    }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
</a>
</main>

<!-- JS Global Compulsory -->
<script src="http://static.tlmworks.org/track_1.0/cdns/jquery-3.3.1.min.js"></script>
<script
src="http://static.tlmworks.org/track_1.0/cdns/bootstrap-4/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>



<!-- JS Implementing Plugins -->
<script src="../assets/vendor/appear.js"></script>


<script src="../assets/vendor/circles/circles.min.js"></script>



<!-- JS Revolution Slider -->
<script src="../assets/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../assets/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

<script
src='../assets/vendor/revolution-slider/revolution-addons/slicey/js/revolution.addon.slicey.min.js'></script>

<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script
src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- JS Unify -->
<script src="../assets/js/hs.core.js"></script>
<script src="../assets/js/components/hs.header.js"></script>
<script src="../assets/js/helpers/hs.hamburgers.js"></script>
<script src="../assets/js/components/hs.scroll-nav.js"></script>

<script src="../assets/js/components/hs.onscroll-animation.js"></script>
<script src="../assets/js/components/hs.tabs.js"></script>
<script src="../assets/js/components/hs.progress-bar.js"></script>
<script src="../assets/js/components/hs.chart-pie.js"></script>
<script src="../assets/js/components/hs.carousel.js"></script>
<script src="../assets/js/components/hs.go-to.js"></script>

<!-- JS Customization -->

<script src="../assets/js/script.js"></script>
<!-- JS Plugins Init. -->
<script>
    // initialization of google map
    function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
    }
    
    // initialization of revolution slider
    var tpj = jQuery,
    promoSlider;
    
    tpj(document).on('ready', function () {
        if (tpj('#promoSlider').revolution == undefined) {
            revslider_showDoubleJqueryError('#promoSlider');
        } else {
            promoSlider = tpj('#promoSlider').show().revolution({
                sliderType: 'standard',
                jsFileLocation: '../../revolution/js/',
                sliderLayout: 'fullscreen',
                dottedOverlay: 'none',
                delay: 9000,
                navigation: {
                    keyboardNavigation: 'off',
                    keyboard_direction: 'horizontal',
                    mouseScrollNavigation: 'off',
                    onHoverStop: 'off',
                    touch: {
                        touchenabled: 'on',
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: 'horizontal',
                        drag_block_vertical: false
                    },
                    bullets: {
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 960,
                        style: 'zeus',
                        
                        hide_onleave: false,
                        direction: 'horizontal',
                        h_align: 'right',
                        v_align: 'bottom',
                        h_offset: 80,
                        v_offset: 500,
                        space: 10,
                        tmp: '<span class="tp-bullet-image"></span>' +
                        '<span class="tp-bullet-imageoverlay"></span>' +
                        '<span class="tp-bullet-title">{{title}}</span>'
                    }
                },
                responsiveLevels: [1240, 1024, 778, 480],
                gridwidth: [1240, 1024, 778, 480],
                gridheight: [868, 768, 960, 720],
                lazyType: 'none',
                parallax: {
                    type: 'mouse',
                    origo: 'slidercenter',
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                    disable_onmobile: 'on'
                },
                shadow: 0,
                spinner: 'off',
                stopLoop: 'on',
                stopAfterLoops: 0,
                stopAtSlide: 1,
                shuffle: 'off',
                autoHeight: 'off',
                fullScreenAlignForce: 'off',
                fullScreenOffset: '60px',
                disableProgressBar: 'on',
                hideThumbsOnMobile: 'off',
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: 'off',
                    nextSlideOnWindowFocus: 'off',
                    disableFocusListener: false
                }
            });
            
            var newCall = new Object(),
            cslide;
            
            newCall.callback = function () {
                var proc = promoSlider.revgetparallaxproc(),
                fade = 1 + proc,
                scale = 1 + (Math.abs(proc) / 10);
                
                punchgs.TweenLite.set(promoSlider.find('.slotholder, .rs-background-video-layer'), {
                    opacity: fade,
                    scale: scale
                });
            };
            
            newCall.inmodule = 'parallax';
            newCall.atposition = 'start';
            
            promoSlider.bind('revolution.slide.onloaded', function (e) {
                promoSlider.revaddcallback(newCall);
            });
        }
    });
    
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        
        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
        
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');
        
        // initialization of progressbar
        var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
        });
        
        // initialization of chart pies
        var items = $.HSCore.components.HSChartPie.init('.js-pie');
        
        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });
    
    $(window).on('load', function () {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            duration: 700
        });
        
        setTimeout(function () {
            // initialization of select
            $.HSCore.components.HSSelect.init('.js-custom-select');
        }, 1);
    });
    
    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>

</body>

</html>