<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Title -->
        <title>The Last Mile - Info</title>

        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Favicon -->
        <link rel="shortcut icon" href="../assets/TLM-ASSETS/Logos/TheLastMile/block.jpg">



        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="https://cdn.tlm.cloud/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
        <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">
        <link rel="stylesheet" href="../assets/vendor/icon-line/css/simple-line-icons.css">
        <link rel="stylesheet" href="../assets/vendor/hamburgers/hamburgers.min.css">
        <link rel="stylesheet" href="../assets/vendor/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="../assets/vendor/animate.css">
        <link rel="stylesheet" href="../assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">




        <link rel="stylesheet" href="../assets/css/specific.css">

 
    </head>

    <body>
        <main>
            <section id="contactmodal" class="position-fixed bg-white g-pt-150 text-center " style="width:100%;height:100%;
                            z-index: 2000;">
                <div class="g-pt-100 ">
                    <img src="../assets/TLM-ASSETS/Logos/The Last Mile w- Tagline/Tagline The Last Mile.png" height="150px">
                    <div id="loadtext" class="pt-5  g-color-black">
                        <p class="g-font-size-20 text-muted pb-5 ">We teach coding to incarcerated individuals how to code to help
                            them get jobs and reduce
                            recidivism in the 21st century</p>
                        <a href="contact.html">
                            <h1 class="g-font-size-20 g-color-primary g-font-weight-700 pulseINF">Contact Us</h1>
                        </a>
                        <p class="g-font-size-20">Or</p>
                        <a href="#" id="continue">
                            <h1 class="g-font-size-20">Continue Browsing</h1>
                        </a>
                    </div>
                </div>
            
            
            </section>
            <!-- Header v1 -->
            <header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance"
                data-header-fix-moment="100" data-header-fix-effect="slide">
                <div class="u-header__section g-bg-white g-transition-0_3 g-py-30 g-py-30--md"
                    data-header-fix-moment-exclude="g-bg-white"
                    data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
                    <nav class="navbar navbar-expand-lg p-0 g-px-15">
                        <div class="container g-pos-rel">
                            <!-- Logo -->
                         
                                <img class="u-header__logo-img u-header__logo-img--main g-width-130"
                                    src="../assets/TLM-ASSETS/Logos/The Last Mile w- Tagline/Tagline The Last Mile.png"
                                    alt="TheLastMile lgo">
                      
                            <!-- End Logo -->

                            <!-- Navigation -->
                            <div id="navBar" class="collapse navbar-collapse w-100 align-items-center flex-sm-row"
                                data-mobile-scroll-hide="true">
                                <div class="navbar-collapse">
                                    <ul
                                        class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 ml-auto g-pt-20 g-pt-3--lg">
                                        <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg ">
                                            <a href="index.html" class="nav-link p-0">Home <span
                                                    class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg active">
                                            <a href="info.html" class="nav-link p-0">Info</a>
                                        </li>
                                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg ">
                                            <a href="port.html" class="nav-link p-0">Portfolio</a>
                                        </li>
                                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                            <a href="media.html" class="nav-link p-0">Media</a>
                                        </li>
                                        <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg ">
                                            <a href="contact.html" class="nav-link p-0">Contact</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- End Navigation -->

                            <!-- Responsive Toggle Button -->
                            <button
                                class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0"
                                type="button" aria-label="Toggle navigation" aria-expanded="false"
                                aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                                <span class="hamburger hamburger--slider">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </span>
                            </button>
                            <!-- End Responsive Toggle Button -->
                        </div>
                    </nav>
                </div>
            </header>
            <!-- End Header v1 -->
            <!-- Section Content -->
            <section id="services" class="g-py-30 g-py-80--md">
                <div class="container text-center u-bg-overlay__inner g-max-width-770 g-mb-30 g-mb-70--md">
                    <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
                        <h3 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">Re-entry Services</h3>
                        <h2
                            class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1 mb-0">
                            What we do</h2>
                    </div>
            
                    <p class="mb-0">Through community and government partnerships, The Last Mile aims to help turn the technology and business skills
                    learned by the justice-involved person into careers.
                    The Last Mile Workforce Reentry Program accelerates opportunities for Returned Citizens to find jobs in the technology
                    and business sectors.</p>
                </div>
            
                <div class="container">
                    <!-- Row -->
                    <div class="row  justify-content-center">
                        <div class="col-md-6 col-lg-3 g-mb-40 g-mb-0--lg">
                            <div class="text-center" data-animation="fadeInUp" data-animation-duration="1500">
                                <span
                                    class="u-icon-v2 u-icon-size--3xl g-font-size-30 g-font-size-40--md g-color-primary g-brd-10 g-brd-gray-light-v5 g-rounded-50x g-mb-25"><i
                                        class="fa fa-group"></i></span>
                                <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-black g-mb-15">
                                    Step 1: Joining The Program</h3>
                                <p class="mb-0">Once an offender joins the program we can start teaching them valuable
                                    coding and life skills for when they get out</p>
                            </div>
                        </div>
            
                        <div class="col-md-6 col-lg-3 g-mb-40 g-mb-0--lg">
                            <div class="text-center" data-animation="fadeInUp" data-animation-duration="1750">
                                <span
                                    class="u-icon-v2 u-icon-size--3xl g-font-size-30 g-font-size-40--md g-color-primary g-brd-10 g-brd-gray-light-v5 g-rounded-50x g-mb-25"><i
                                        class="fa fa-graduation-cap"></i></span>
                                <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-black g-mb-15">
                                    Step 2: Education
                                </h3>
                                <p class="mb-0">The Offender uses his time to learn as much code as possible for when
                                    she gets out,</p>
                            </div>
                        </div>
            
                        <div class="col-md-6 col-lg-3 g-mb-40 g-mb-0--md">
                            <div class="text-center" data-animation="fadeInUp" data-animation-duration="2000">
                                <span
                                    class="u-icon-v2 u-icon-size--3xl g-font-size-30 g-font-size-40--md g-color-primary g-brd-10 g-brd-gray-light-v5 g-rounded-50x g-mb-25"><i
                                        class="icon-calculator"></i></span>
                                <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-black g-mb-15">
                                    Step 3: Re-Entry</h3>
                                <p class="mb-0">The Offender reenters society with a knowledgy of coding and life skills
                                    and can use our reentry services and connections
                                    to find him or herself a job.
                                </p>
                            </div>
                        </div>
            
            
                    </div>
                    <!-- End Row -->
                </div>
            </section>
            <!-- End Section Content -->
            
            
            <!-- Section Content -->
            <section id="whyWe">
                <div class="container-fluid px-0">
                    <div class="row no-gutters">
                        <div class="col-md-6 d-flex g-theme-bg-gray-light-v4 g-py-30 g-py-80--md g-px-30">
                            <div class="align-self-center">
                                <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
                                    <h3 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">What we</h3>
                                    <h2
                                        class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1 mb-0">
                                        teach in our curriculums</h2>
                                </div>
            
                                <p class="g-mb-30">Students first learn graphic design and UI/UX elements before
                                    learning
                                    HTML, CSS, and Bootstrap within the first track. Students then start to learn
                                    Javascript and Jquery later in the first track before having to do a final
                                    project displaying all their new found skills.
                                </p>
                                <p class="g-mb-30">If students decide to continue in the program into track 2 they can
                                    learn the server side back end coding for web design.
                                    We call this the M.E.R.N track where we teach MongoDb, Express, ReactJS, and NodeJS.
                                </p>
                                <p class="g-mb-30">Students can continue as in our free venture program or learn more.
                                </p>
                                <a class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0"
                                    href="port.html">Notable Projects</a>
                            </div>
                        </div>
            
                        <div class="col-md-6">
                            <div
                                class="g-parent g-theme-bg-gray-dark-v1 g-theme-bg-gray-dark-v2--hover g-overflow-x-hidden g-brd-bottom g-theme-brd-gray-dark-v4 g-transition-0_2 g-transition--ease-in">
                                <!-- Icon Blocks -->
                                <article
                                    class="media d-block d-md-flex text-center text-md-left g-py-30 g-py-70--md g-pl-30 g-pl-60--md g-pr-30"
                                    data-animation="fadeInRight" data-animation-duration="1750">
                                    <div class="d-md-flex align-self-center g-mb-30 g-mb-0--md g-mr-30--md">
                                        <span
                                            class="u-icon-v2 u-icon-size--2xl g-color-primary g-brd-4 g-theme-brd-gray-dark-v3 g-brd-primary-dark--parent-hover g-rounded-50x">
                                            <i class="icon-line icon-magic-wand g-font-size-35"></i>
                                        </span>
                                    </div>
            
                                    <div class="media-body align-self-center">
                                        <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-white">
                                            UI/UX and graphic
                                            design</h3>
                                        <p class="g-color-white-opacity-0_5 mb-0">Students learn graphic design and how
                                            to create effective graphics for users.</p>
                                    </div>
                                </article>
                                <!-- End Icon Blocks -->
                            </div>
                            <div
                                class="g-parent g-theme-bg-gray-dark-v1 g-theme-bg-gray-dark-v2--hover g-overflow-x-hidden g-brd-bottom g-theme-brd-gray-dark-v4 g-transition-0_2 g-transition--ease-in">
                                <!-- Icon Blocks -->
                                <article
                                    class="media d-block d-md-flex text-center text-md-left g-py-30 g-py-70--md g-pl-30 g-pl-60--md g-pr-30"
                                    data-animation="fadeInRight" data-animation-duration="1750">
                                    <div class="d-md-flex align-self-center g-mb-30 g-mb-0--md g-mr-30--md">
                                        <span
                                            class="u-icon-v2 u-icon-size--2xl g-color-primary g-brd-4 g-theme-brd-gray-dark-v3 g-brd-primary-dark--parent-hover g-rounded-50x">
                                            <i class="fa fa-building-o g-font-size-35"></i>
                                        </span>
                                    </div>
            
                                    <div class="media-body align-self-center">
                                        <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-white">
                                            HTML and CSS
                                        </h3>
                                        <p class="g-color-white-opacity-0_5 mb-0">Students learn how to structure and
                                            design a webpage.</p>
                                    </div>
                                </article>
                                <!-- End Icon Blocks -->
                            </div>
            
            
            
                            <div
                                class="g-parent g-theme-bg-gray-dark-v1 g-theme-bg-gray-dark-v2--hover g-overflow-x-hidden g-transition-0_2 g-transition--ease-in">
                                <!-- Icon Blocks -->
                                <article
                                    class="media d-block d-md-flex text-center text-md-left g-py-30 g-py-70--md g-pl-30 g-pl-60--md g-pr-30"
                                    data-animation="fadeInRight" data-animation-duration="1750">
                                    <div class="d-md-flex align-self-center g-mb-30 g-mb-0--md g-mr-30--md">
                                        <span
                                            class="u-icon-v2 u-icon-size--2xl g-color-primary g-brd-4 g-theme-brd-gray-dark-v3 g-brd-primary-dark--parent-hover g-rounded-50x">
                                            <i class="icon-line icon-calculator g-font-size-35"></i>
                                        </span>
                                    </div>
            
                                    <div class="media-body align-self-center">
                                        <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-white">
                                            Javascript, Jquery, MERN, and Beyond
                                        </h3>
                                        <p class="g-color-white-opacity-0_5 mb-0">Students learn how to create
                                            functionality and applications for their websites and servers.</p>
                                    </div>
                                </article>
                                <!-- End Icon Blocks -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section Content -->
<section id="whyWe" class="g-theme-bg-gray-dark-v1">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-6 g-py-50 g-py-70--md g-py-100--xl g-px-15 g-px-40--md g-px-80--xl">
                <div class="u-heading-v2-2--bottom g-brd-primary g-mb-30">
                    <h2
                        class="text-uppercase u-heading-v2__title g-font-weight-800 g-font-size-30 g-font-size-40--md g-color-white">
                        Why choose us</h2>
                </div>

                <p class="g-color-gray-light-v4 g-mb-50">By increasing employability we reduce the reoffende rate. Which for TLM graduats is at 0%.</p>

                <!-- Icon Blocks -->
                <div class="media align-items-start g-mb-30">
                    <div class="d-flex g-mr-10">
                        <span class="g-font-weight-700 g-font-size-20 g-line-height-0_7 g-color-primary">+</span>
                    </div>

                    <div class="media-body">
                        <h3 class="h6 text-uppercase g-font-weight-800 g-color-white mb-20">Education</h3>
                        <p class="g-font-size-default g-color-gray-light-v4 mb-0">The program provides computer coding 
                            training to prepare its students for release into today’s high- tech environment.
                        Currently, there are nearly 1 million unfilled software engineering jobs, which means TLM graduates could be
                        well-positioned to qualify for many of these jobs. TLM coding classrooms are in California, Indiana, Kansas, Oklahoma
                        and Michigan, and are expanding to other states.
                        </p>
                    </div>
                </div>
                <!-- End Icon Blocks -->

                <!-- Icon Blocks -->
                <div class="media align-items-start g-mb-30">
                    <div class="d-flex g-mr-10">
                        <span class="g-font-weight-700 g-font-size-20 g-line-height-0_7 g-color-primary">+</span>
                    </div>

                    <div class="media-body">
                        <h3 class="h6 text-uppercase g-font-weight-800 g-color-white mb-20">Reputation</h3>
                        <p class="g-font-size-default g-color-gray-light-v4 mb-0">The Last Mile (TLM) is a 
                            nonprofit founded in 2010 at San Quentin to address the societal impact
                        of incarceration as a drain on human and fiscal resources. TLM operates the 
                        first full stack coding program inside US
                        prisons. The program's mission is to provide marketable skills that result in gainful employment. The core belief is
                        that having a job is the key to successful reentry and breaking the cycle of incarceration.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->

                <!-- Icon Blocks -->
                <div class="media align-items-start">
                    <div class="d-flex g-mr-10">
                        <span class="g-font-weight-700 g-font-size-20 g-line-height-0_7 g-color-primary">+</span>
                    </div>

                    <div class="media-body">
                        <h3 class="h6 text-uppercase g-font-weight-800 g-color-white mb-20">Qualified support</h3>
                        <p class="g-font-size-default g-color-gray-light-v4 mb-0">Professional Mentors and Instructors</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-md-6 g-min-height-300 g-bg-img-hero"
                style="background-image: url('../assets/TLM-ASSETS/Photos/ClassroomVisits/1.jpg');"></div>
        </div>
      
    </div>
</section>
<section id="benefits" class="g-theme-bg-gray-dark-v1">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-6 g-order-2--sm  g-py-50 g-py-70--md g-py-100--xl g-px-15 g-px-40--md g-px-80--xl">
                <div class="u-heading-v2-2--bottom g-brd-primary g-mb-30">
                    <h2
                        class="text-uppercase u-heading-v2__title g-font-weight-800 g-font-size-30 g-font-size-40--md g-color-white">
                        Our benefits</h2>
                </div>

                <p class="g-color-gray-light-v4 g-mb-30">Today there are approximately 2.5 million people incarcerated in the United States. Most of these people (95%) will
                return home to their families and communities on parole (Bureau of Justice Statistics).
                The unemployment rate for these Returning Citizens is about five times higher than that of the general population. The
                lack of meaningful employment opportunities for Returned Citizens is a primary factor driving America’s 64% recidivism
                rate. A lack of adequate job preparation during incarceration greatly increases the likelihood of people reoffending and
                returning to prison upon their release.
                Meanwhile, the technology industry has an estimated 1 million US engineering jobs unfulfilled because there are not
                enough trained individuals to fill these positions.</p>

                <div class="row">
                    <div class="col-lg-6 g-mb-45">
                        <h3 class="h6 text-uppercase g-font-weight-800 g-color-white g-mb-10">Reentry</h3>
                        <p class="g-font-size-default g-color-gray-light-v4 mb-0">The Last Mile’s Reentry Department 
                            supports the successful reintegration of Returned Citizens back into society, the
                        workforce, and their families. We accomplish this by providing business and technology resources, as well as
                        opportunities through our network of Fair Chance employers.</p>
                    </div>

                    <div class="col-lg-6 g-mb-45">
                        <h3 class="h6 text-uppercase g-font-weight-800 g-color-white g-mb-10">Academic support</h3>
                        <p class="g-font-size-default g-color-gray-light-v4 mb-0">Our participants receive 18 months of intense technical training which prepares them to enter the workforce as software
                        engineers. In addition to the technical training our participants receive, The Last Mile understands that to be
                        successful, our participants must have the soft skills, emotional intelligence and self-awareness to ensure a fulfilling
                        career.
</p>
                    </div>

                    <div class="col-lg-6 g-mb-45 g-mb-0--lg">
                        <h3 class="h6 text-uppercase g-font-weight-800 g-color-white g-mb-10">Our Reentry Team</h3>
                        <p class="g-font-size-default g-color-gray-light-v4 mb-0">To better assist our participants in their next journey, we conduct a Reentry Assessment which helps us support them in
                        creating a tailored pathway for success.
                        The Reentry Assessment is an evaluation of the participants’ desires, skills and passions. This process includes a
                        technical component which evaluates the participants' projects and technical abilities. This helps us to create learning
                        pathways for those who would like to continue their education.</p>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="h6 text-uppercase g-font-weight-800 g-color-white g-mb-10">Future Of TLM</h3>
                        <p class="g-font-size-default g-color-gray-light-v4 mb-0">As we grow, The Last Mile continues to form alliances with strategic partners who can help us in
                        our mission. We have created alliances with coding bootcamps, such as Hack Reactor and General Assembly, which allow our
                        graduates to continue their education. We have a strong relationship with Next Chapter, a program at Slack designed to
                        shift the perception about the potential of justice-involved people and to generate new opportunities in skilled
                        long-term employment in the technology sector for Returned Citizens.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 g-order-1--sm g-min-height-300 g-bg-img-hero"
                style="background-image: url(../assets/TLM-ASSETS/Photos/ClassroomVisits/2.jpg);"></div>
        </div>
    </div>
</section>
<!-- Hero Info #01 -->
<section class="text-center g-py-120--md g-py-80">
    <div class="container">
        <div class="u-heading-v2-5--bottom g-brd-primary g-mb-30">
            <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">We are Expanding!</h2>
        </div>

        <p class="lead g-px-60--md g-mb-40">Come join the cause!
            <a href="contact.html" class="g-color-primary">Apply Now</a>
          Lets make the society a better place.
        </p>

        <img class="img-fluid" src="../assets/imgs/map1.png" alt="Map">
    </div>
</section>
<!-- End Hero Info #01 -->
<section class="g-bg-gray-dark-v1 g-color-white g-pa-40">
    <div class="container">
        <div class="row ">
            <div class="col-lg-7 align-self-center">
                <h2 class="h4 text-white text-uppercase g-font-weight-300 g-mb-20 g-mb-0--lg">Subscribe to our weekly

                    <strong class="g-color-primary">newsletter</strong></h2>
            </div>

            <div class="col-lg-5 align-self-center">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span
                            class="input-group-text g-bg-transparent g-color-white g-brd-white rounded-0 g-brd-right-none"><i
                                class="fa fa-envelope"></i></span>
                    </div>
                    <input id="newletter"
                        class="form-control pl-0 u-form-control g-brd-left-none g-placeholder-white g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white rounded-0 g-mr-15"
                        type="text" placeholder="Enter your email...">
                    <div class="input-group-append">
                        <button id="subscribeemail" class="btn u-btn-primary rounded-0">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            <div class="g-color-white bg-dark g-py-40 g-px-15 text-center">
                <img class="d-inline-block g-mb-30 img-fluid g-width-130" src="../assets/TLM-ASSETS/Logos/TheLastMile/block.jpg"
                    alt="TheLastMile Logo">
                <p class="g-color-white-opacity-0_7 g-mb-30">Paving The Road For Success</p>
                <ul class="list-inline d-inline-block g-mb-30">
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                            href="#!"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                            href="#!"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                            href="#!"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in"
                            href="#!"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
                <ul class="list-inline text-uppercase g-font-weight-700 g-font-size-11 mb-0">
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover"
                            href="index.html">Home</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover"
                            href="info.html">Info</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover"
                            href="port.html">Portfolio</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover"
                            href="media.html">Media</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover"
                            href="contact.html">Contact</a>
                    </li>

                </ul>
            </div>
            </footer>
            <!-- End Footer -->

            <a class="js-go-to u-go-to-v1 g-color-gray-dark-v1" href="#!" data-type="fixed" data-position='{
                   "bottom": 15,
                   "right": 15
                 }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
                <i class="hs-icon hs-icon-arrow-top"></i>
            </a>
        </main>


    <script src="http://static.tlmworks.org/track_1.0/cdns/jquery-3.3.1.min.js"></script>
    <script src="http://static.tlmworks.org/track_1.0/cdns/bootstrap-4/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    
    <script src="../assets/js/script.js"></script>
    
    <!-- JS Implementing Plugins -->
    <script src="../assets/vendor/appear.js"></script>
    
    
    <script src="../assets/vendor/circles/circles.min.js"></script>
    
    
    
    <!-- JS Revolution Slider -->
    <script src="../assets/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../assets/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    
    <script src='../assets/vendor/revolution-slider/revolution-addons/slicey/js/revolution.addon.slicey.min.js'></script>
    
    <script src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script
        src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script
        src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script
        src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script
        src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    
    <!-- JS Unify -->
    <script src="../assets/js/hs.core.js"></script>
    <script src="../assets/js/components/hs.header.js"></script>
    <script src="../assets/js/helpers/hs.hamburgers.js"></script>
    <script src="../assets/js/components/hs.scroll-nav.js"></script>
    
    <script src="../assets/js/components/hs.onscroll-animation.js"></script>
    <script src="../assets/js/components/hs.tabs.js"></script>
    <script src="../assets/js/components/hs.progress-bar.js"></script>
    <script src="../assets/js/components/hs.chart-pie.js"></script>
    <script src="../assets/js/components/hs.carousel.js"></script>
    <script src="../assets/js/components/hs.go-to.js"></script>
    

    
    <!-- JS Plugins Init. -->
    <script>
        // initialization of google map
        function initMap() {
            $.HSCore.components.HSGMap.init('.js-g-map');
        }

        // initialization of revolution slider
        var tpj = jQuery,
            promoSlider;

        tpj(document).on('ready', function () {
            if (tpj('#promoSlider').revolution == undefined) {
                revslider_showDoubleJqueryError('#promoSlider');
            } else {
                promoSlider = tpj('#promoSlider').show().revolution({
                    sliderType: 'standard',
                    jsFileLocation: '../../revolution/js/',
                    sliderLayout: 'fullscreen',
                    dottedOverlay: 'none',
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: 'off',
                        keyboard_direction: 'horizontal',
                        mouseScrollNavigation: 'off',
                        onHoverStop: 'off',
                        touch: {
                            touchenabled: 'on',
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: 'horizontal',
                            drag_block_vertical: false
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 960,
                            style: 'zeus',

                            hide_onleave: false,
                            direction: 'horizontal',
                            h_align: 'right',
                            v_align: 'bottom',
                            h_offset: 80,
                            v_offset: 500,
                            space: 10,
                            tmp: '<span class="tp-bullet-image"></span>' +
                                '<span class="tp-bullet-imageoverlay"></span>' +
                                '<span class="tp-bullet-title">{{title}}</span>'
                        }
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [868, 768, 960, 720],
                    lazyType: 'none',
                    parallax: {
                        type: 'mouse',
                        origo: 'slidercenter',
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                        disable_onmobile: 'on'
                    },
                    shadow: 0,
                    spinner: 'off',
                    stopLoop: 'on',
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: 'off',
                    autoHeight: 'off',
                    fullScreenAlignForce: 'off',
                    fullScreenOffset: '60px',
                    disableProgressBar: 'on',
                    hideThumbsOnMobile: 'off',
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: 'off',
                        nextSlideOnWindowFocus: 'off',
                        disableFocusListener: false
                    }
                });

                var newCall = new Object(),
                    cslide;

                newCall.callback = function () {
                    var proc = promoSlider.revgetparallaxproc(),
                        fade = 1 + proc,
                        scale = 1 + (Math.abs(proc) / 10);

                    punchgs.TweenLite.set(promoSlider.find('.slotholder, .rs-background-video-layer'), {
                        opacity: fade,
                        scale: scale
                    });
                };

                newCall.inmodule = 'parallax';
                newCall.atposition = 'start';

                promoSlider.bind('revolution.slide.onloaded', function (e) {
                    promoSlider.revaddcallback(newCall);
                });
            }
        });

        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of scroll animation
            $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of progressbar
            var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
                direction: 'horizontal',
                indicatorSelector: '.js-hr-progress-bar-indicator'
            });

            // initialization of chart pies
            var items = $.HSCore.components.HSChartPie.init('.js-pie');

            // initialization of go to section
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });

        $(window).on('load', function () {
            // initialization of HSScrollNav
            $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
                duration: 700
            });

            setTimeout(function () {
                // initialization of select
                $.HSCore.components.HSSelect.init('.js-custom-select');
            }, 1);
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
    </body>

</html>