
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ArtHaus: About Us</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/back_to_top.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    
</head>

<body>
   
        <header class="header">
            
            
            <div>
                <a href="index.html">
                    <img class="logo" src="../assets/img/back_to_top.png">
                </a>
            </div>
            
            <div class="logoText">
                <a href="index.html">
                    <h1 class="comptext">ARTHAUS</h1>
                </a>
                
                
                <p class="subtitle">"Beautiful Art For The Common Man"</p>
                <a class="recruit" href="becomeArtist.html">
                    <h6>Want To Become An Artist For Arthaus?</h6>
                    
                </a>
            </div>
            
            
            
        </header>
        <section class="aboutus">
            <div class="storybox">
                <h4>Our Story</h4>
                <img src="../assets/img/founder.jpg">
                <p>Arthaus started as an idea of a learning coder for his coding final.
                    This was the late summer of 2020. After experimenting with a few ideas he found the idea for Arthaus in his brain and soon began to code the website
                    himself. He slowly started implementing what makes Arthaus Arthaus and begain developing the business model. Even today
                    our founder finds himself sometimes personally looking over new functionality and aspects of the Arthaus website.
                    
                </p>
                
            </div>
        </section>
        <footer>
            
            
            
            <section class="appfoot">
                
                <section class="footerspace">
                    <a href="about.html">
                        <h4 class="footertext">About Us</h4>
                    </a>
                </section>
                <section class="footerspace">
                    <a href="termsandconditions.html">
                        <h4 class="footertext">Terms & Conditions</h4>
                    </a>
                </section>
                <section class="footerspace">
                    <a href="privacy.html">
                        <h4 class="footertext">Privacy Policy</h4>
                    </a>
                </section>
                <section>
                    <a href="#">
                        <img src="../assets/img/download.png" alt="downloadpic">
                    </a>
                </section>
                <section>
                    <a href="#">
                        <img src="../assets/img/footer_app_store.png" alt="appstore" >
                    </a>
                </section>
                
                
                <section>
                    <a href="#">
                        <img src="../assets/img/footer_google_play.png" alt="googleplaystore">
                    </a>
                </section>
                <section>
                    <a href="#">
                        <img src="../assets/img/download.png" alt="downloadpic">
                    </a>
                </section>
                <section>
                    <a href="#">
                        <img src="../assets/img/btn_30_sprites.png"  alt="social">
                    </a>
                </section>
            </footer>    
            <script src="http://static.tlmworks.org/track_1.0/cdns/jquery-3.3.1.min.js"></script>
            <script src="../assets/js/jquery.js"></script>
            <script src="../assets/js/script.js"></script>
        </body>
        
        
        </html>