
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ArtHaus: Become An Artist</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/back_to_top.png">
  <link rel="stylesheet" href="../assets/css/style.css">
  
</head>

<body>
  <header class="header">
    
    
    <div>
      <a href="shop.html">
        <img class="logo" src="../assets/img/back_to_top.png">
      </a>
    </div>
    
    <div class="logoText">
      <a href="shop.html">
        <h1 class="comptext">ARTHAUS</h1>
      </a>
      
      
      <p class="subtitle">"Beautiful Art For The Common Man"</p>
      <a class="recruit" href="becomeArtist.html">
        <h6>Want To Become An Artist For Arthaus?</h6>
        
      </a>
    </div>
    
    
    
  </header>
  <section class="eachBase hiw">
    <div>
      <h3>Requirements</h3>
      <p>*While our curation process at ArtHaus is very forgiving we still have some standards.</p>
      <ul>
        <li>Up and Coming Artist Preferred But All Artists Welcome</li>
        <li>Competent Artist</li>
        <li>Cares More For The Art And The Message Than Money</li>
        <li>Art That Has A Message</li>
        <li>Of Course The Art Has To Be Beautiful</li>
      </ul>
    </div>
    <div>
      <h3>How It Works?</h3>
      <ol>
        <li>You Make An ArtPiece (photography & paintings only)</li>
        <li>Email Us A Request (with an artist description) That You Would Like To Sell Your Artpiece With A High Quality Picture</li>
        <li>We Email You A Terms & Conditons Paper To Sign</li>
        <li>You Send Back Your Digital Signature</li>
        <li>We List Your Item With A Price You Determine</li>
        <li>Customer Buys Your Artpiece</li>
        <li>We Email You The Shipping Label And You Ship It Yourself</li>
        <li>We Send You Your Share Of The Payment (Royalties 5%)</li>
        
      </ol>
      
    </div>
    <div class="emailSect">
      <a href="mailto:curatorname@arthaus.com">
        <btn class="emaillink">Email Us</btn> 
      </a>
    </div>
  </section>
  <section class="colordivide">
    <img src="../assets/img/colordash.jpg">
  </section>
  
  <footer>
            
            
            
      <section class="appfoot">
          
          <section class="footerspace">
              <a href="about.html">
                  <h4 class="footertext">About Us</h4>
              </a>
          </section>
          <section class="footerspace">
              <a href="termsandconditions.html">
                  <h4 class="footertext">Terms & Conditions</h4>
              </a>
          </section>
          <section class="footerspace">
              <a href="privacy.html">
                  <h4 class="footertext">Privacy Policy</h4>
              </a>
          </section>
          <section>
              <a href="#">
                  <img src="../assets/img/download.png" alt="downloadpic">
              </a>
          </section>
          <section>
              <a href="#">
                  <img src="../assets/img/footer_app_store.png" alt="appstore" >
              </a>
          </section>
          
          
          <section>
              <a href="#">
                  <img src="../assets/img/footer_google_play.png" alt="googleplaystore">
              </a>
          </section>
          <section>
              <a href="#">
                  <img src="../assets/img/download.png" alt="downloadpic">
              </a>
          </section>
          <section>
              <a href="#">
                  <img src="../assets/img/btn_30_sprites.png"  alt="social">
              </a>
          </section>
      </footer>    
    <script src="http://static.tlmworks.org/track_1.0/cdns/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/script.js"></script>
  </body>
  
  
  </html>