
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ArtHaus: Red Sun</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/back_to_top.png">
  <link rel="stylesheet" href="../assets/css/style.css">
  
</head>

<body>
  <header class="header">
    
    
    <div>
      <a href="shop.html">
        <img class="logo" src="../assets/img/back_to_top.png">
      </a>
    </div>
    
    <div class="logoText">
      <a href="shop.html">
        <h1 class="comptext">ARTHAUS</h1>
      </a>
      
      
      <p class="subtitle">"Beautiful Art For The Common Man"</p>
      <a class="recruit" href="becomeArtist.html">
          <h6>Want To Become An Artist For Arthaus?</h6>
    
        </a>
    </div>
    
 
  
</header>
<section class="eachBase">
  
  
  <div class="col-2-of-3 baseBox">
    <img src="../assets/img/darksun.jpeg">
  </div>
  
</div>
<div class="contEach col-1-of-3">
  <h3>Red Sun by Empire</h3>
  <p value="100">$100</p>
</section>
<section class="artDesc  basicRowAndCenter" id="artDesc" >
  <h5>About The Artist</h5>
  <div class="artDescBox">
  <p>Ono Ozaki is a Japanese naturalist and beleives in conquering nature to find yourself.
      He has created many philisophical articles in which he entails how to discover nirvana
      through conquering nature. He beleives that humans must conquer eight ordeals to find nirvana.
      This is one of eight art pieces he has made. This is his second official artpiece. 

   </p>
  </div>
</section>
<div class="gradientcontain">
  <section class="learnMore basicRowAndCenter">
  <a id="descm">Learn More</a>
  </section>
  <section class="buyButtonArea basicRowAndCenter">
    <h3>Buy Using A Trusted Source</h3>
    <a href="#">
    <img class="spaceBuy" src="../assets/img/paypal.png">
  </a>
  <a href="#">
      <img src="../assets/img/Bitcoin.png">
  </a>
  </section>
  </div>
<section class="colordivide">
  <img src="../assets/img/colordash.jpg">
</section>

<footer>
            
            
            
    <section class="appfoot">
        
        <section class="footerspace">
            <a href="about.html">
                <h4 class="footertext">About Us</h4>
            </a>
        </section>
        <section class="footerspace">
            <a href="termsandconditions.html">
                <h4 class="footertext">Terms & Conditions</h4>
            </a>
        </section>
        <section class="footerspace">
            <a href="privacy.html">
                <h4 class="footertext">Privacy Policy</h4>
            </a>
        </section>
        <section>
            <a href="#">
                <img src="../assets/img/download.png" alt="downloadpic">
            </a>
        </section>
        <section>
            <a href="#">
                <img src="../assets/img/footer_app_store.png" alt="appstore" >
            </a>
        </section>
        
        
        <section>
            <a href="#">
                <img src="../assets/img/footer_google_play.png" alt="googleplaystore">
            </a>
        </section>
        <section>
            <a href="#">
                <img src="../assets/img/download.png" alt="downloadpic">
            </a>
        </section>
        <section>
            <a href="#">
                <img src="../assets/img/btn_30_sprites.png"  alt="social">
            </a>
        </section>
    </footer>    
  <script src="http://static.tlmworks.org/track_1.0/cdns/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/script.js"></script>
</body>


</html>