
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ArtHaus Shop</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/back_to_top.png">
  <link rel="stylesheet" href="../assets/css/style.css">
  
</head>

<body>
  <header class="header">
    
    
    <div>
      <a href="index.html">
        <img class="logo" src="../assets/img/back_to_top.png">
      </a>
    </div>
    
    <div class="logoText">
      <a href="index.html">
        <h1 class="comptext">ARTHAUS</h1>
      </a>
      <p class="subtitle">"Beautiful Art For The Common Man"</p>
      <a class="recruit" href="becomeArtist.html">
        <h6>Want To Become An Artist For Arthaus?</h6>
        
      </a>
    </div>
    
    
  </header>
  
  
  
  <section id="filter" class="filter">
    <div class="filtertitle">
      <h3>Filter Your Options</h3>
    </div>
    
    <div class="filtertwo third">
      <div class="filterone third">
        <h3 class="centerbox rework2">Sort By Price</h3>
        
        <form>
          <input id="pricebox" class="pricebox" type="text" size="30" placeholder="Less Than...">
          <p>Please use only the number</p>
        </form>
      </div>
      <br>
      
      <h3 class="rework2">Sort By Size</h3>
      
      <input  id="small" name="size" value="small" data_value1="small" class="radiospace" type="checkbox" checked size="small">
      <label>small</label>
      
      
      <br>
      
      <input  id="medium" name="size" value="medium" data_value1="medium" class="radiospace" type="checkbox" checked size="medium">
      <label>medium</label>
      
      <br>
      
      
      <input  id="large" name="size" value="large" data_value1="large" class="radiospace" type="checkbox" checked size="large">
      <label>large</label>
    </div>
    
    <div class="sortcalc">
      
      <button id="searchbtn" class="searchbtn">Search</button>
    </div>
    
  </section>
  
  <section class="filterhider">
    <a id="readm">See Filter</a>
  </section>
  <section class="saleRow">
    <img src="../assets/img/salefire.png">
    <h2>End Of Summer Sale !!!</h2>
  </section>
  <section class="gallery">
    <div>
      <li>
        <a href="buyartnatureofhumanity.html">
          <div class="span-1-of-3">
            <div class="overlay">
              <h3>Nature Of Humanity By The Wold</h3>
              <p value="100">$100</p>
            </div>
            <img class="slightInt" data_value1="large" src="../assets/img/afterus.jpeg">
          </div>
          
        </a>
      </li>
    </div>
    <div>
      <li>
        <a href="buyarthuman.html">
          <div class="span-1-of-3">
            <div class="overlay">
              <h3>The Human Mind By Rus Rus</h3>
              <p value="200">$200</p>
            </div>
            <img class="slightInt small" data_value1="small" src="../assets/img/divide.jpeg">
          </div>
          
        </a>
      </li>
    </div>
    <div>
      <li>
        <a href="buyartsilho.html">
          <div class="span-1-of-3">
            <div class="overlay">
              <h3>Silho By Hattori</h3>
              <p value="270">$270</p>
            </div>
            <img class="slightInt" data_value1="medium" src="../assets/img/silho.jpeg">
          </div>
          
        </a>
      </li>
    </div>
    <div>
      <li>
        <a href="buyartdreams.html">
          <div class="span-1-of-3">
            <div class="overlay">
              <h3>Dreams By J Riddle</h3>
              <p value="400">$400</p>
            </div>
            <img class="slightInt" data_value1="medium" src="../assets/img/thecourt.jpeg">
          </div>
          
        </a>
      </li>
    </div>
    <div>
      <li>
        <a href="buyartoneofeight.html">
          <div class="span-1-of-3">
            <div class="overlay">
              <h3>One Of Eight By Ozaki</h3>
              <p value="800">$800</p>
            </div>
            <img class="slightInt" data_value1="small" src="../assets/img/veinsofearth.jpeg">
          </div>
          
        </a>
      </li>
    </div>
    
    
    
    
    
    <div>
      <li>
        <a href="buyartthetraveler.html">
          <div class="span-1-of-3">
            <div class="overlay">
              <h3>The Traveler By The Wizard</h3>
              <p value="700">$700</p>
            </div>
            <img class="slightInt" data_value1="large"  src="../assets/img/walkerincar.jpeg">
          </div>
          
        </a>
      </li>
    </div>
    
    
    
    <div>
      <li>
        <a href="buyartsubworld.html">
          <div class="span-1-of-3">
            <div class="overlay">
              <h3>SubWorld By Peterson</h3>
              <p value="200">$200</p>
            </div>
            <img class="slightInt" data_value1="medium" src="../assets/img/devi.jpeg">
          </a>
        </li>
      </div>
      
      <div>
        <li>
          <a href="buyartantirose.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Antirose By Ali</h3>
                <p value="300">$300</p>
              </div>
              <img class="slightInt" data_value1="medium" src="../assets/img/antirose.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      
      
      
      
      <div>
        <li>
          <a href="buyartwhatahammer.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>What A Hammer? by Unknown</h3>
                <p value="700">$700</p>
              </div>
              <img class="slightInt" data_value1="small" src="../assets/img/nails.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      
      
      
      <div>
        <li>
          <a href="buyartalienfruit.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Alienfruit by Tatsuya</h3>
                <p value="200">$200</p>
              </div>
              <img class="slightInt" data_value1="small" src="../assets/img/logo.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      <div>
        <li>
          <a href="buyartchange.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Change By Ali</h3>
                <p value="350">$350</p>
              </div>
              <img class="slightInt" data_value1="medium" src="../assets/img/fall.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      
      
      
      
      <div>
        <li>
          <a href="buyartgeo.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Geo By Badaboom</h3>
                <p value="250">$250</p>
              </div>
              <img class="slightInt" data_value1="large" src="../assets/img/geo.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      
      <div>
        <li>
          <a href="buyartcalm.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Calm by Tucker</h3>
                <p value="200">$200</p>
              </div>
              <img class="slightInt" data_value1="medium" src="../assets/img/wave.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      <div>
        <li>
          <a href="buyartsolitaire.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Solitaire by Fisher</h3>
                <p value="300">$300</p>
              </div>
              <img class="slightInt" data_value1="large" src="../assets/img/dockdawn.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      <div>
        <li>
          <a href="buyartredsun.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Red Sun By Empire</h3>
                <p value="100">$100</p>
              </div>
              <img class="slightInt" data_value1="small" src="../assets/img/darksun.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      
      <div>
        <li>
          <a href="buyartpinkcloud.html">
            <div class="span-1-of-3">
              <div class="overlay">
                <h3>Pink Cloud By Ariel</h3>
                <p value="100">$100</p>
              </div>
              <img class="slightInt" data_value1="small" src="../assets/img/pinkcloud.jpeg">
            </div>
            
          </a>
        </li>
      </div>
      
    </section>
    
    
    <section class="colordivide filterfoot  ">
      <img src="../assets/img/colordash.jpg">
    </section>
    
    <footer>
      
      
      
      <section class="appfoot">
        
        <section class="footerspace">
          <a href="about.html">
            <h4 class="footertext">About Us</h4>
          </a>
        </section>
        <section class="footerspace">
          <a href="termsandconditions.html">
            <h4 class="footertext">Terms & Conditions</h4>
          </a>
        </section>
        <section class="footerspace">
          <a href="privacy.html">
            <h4 class="footertext">Privacy Policy</h4>
          </a>
        </section>
        <section>
          <a href="#">
            <img src="../assets/img/download.png" alt="downloadpic">
          </a>
        </section>
        <section>
          <a href="#">
            <img src="../assets/img/footer_app_store.png" alt="appstore" >
          </a>
        </section>
        
        
        <section>
          <a href="#">
            <img src="../assets/img/footer_google_play.png" alt="googleplaystore">
          </a>
        </section>
        <section>
          <a href="#">
            <img src="../assets/img/download.png" alt="downloadpic">
          </a>
        </section>
        <section>
          <a href="#">
            <img src="../assets/img/btn_30_sprites.png"  alt="social">
          </a>
        </section>
      </footer>  
      <script src="http://static.tlmworks.org/track_1.0/cdns/jquery-3.3.1.min.js"></script>
      <script src="../assets/js/jquery.js"></script>
      <script src="../assets/js/script.js"></script>
    </body>
    
    
    </html>